<div class="container">
  <h1>Umm here's the movie list diva</h1>
  <ul class="card-grid">
    <% @lists.each do |l| %>
      <li>
        <div class="card">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="list-image" />
          <%= link_to "#{l.name}", list_path(l[:id]), class: "list-link" %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Create a new list <3', new_list_path, class: "new-list-button" %>
</div>
