<h1>Okay the bookmark new worked, will need to make a form</h1>

<%= simple_form_for [@list ,@bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>
