<div id="modal-overlay" class="modal-overlay">
  <div class="modal-content">
    <h2>This is the Modal Content</h2>
    <%# <%= simple_form_for[@chat, @message], url: chat_messages_path, data: { } %> %>
    <button type="button" id="chat-close-button">Close Chat</button>
  </div>
</div>
