.new-list-button {
  display: inline-block;
  text-decoration: none;
  background: radial-gradient(rgb(238, 234, 255), rgb(191, 229, 244));
  padding: 16px;
  border-radius: 1rem;
  color: rgb(145, 144, 144);
}
