.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  list-style: none;
  margin: 36px auto;
}

.card {
  background-color:rgb(238, 234, 255);
  border: none;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
  height: 240px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    display: block;
  }
}

.list-link {
  text-decoration: none;
  color: black;
  text-align: center;
}
