.movie-list {
  display: grid;

}
.list-card {
  border: 1px solid black;
  border-radius: 4px;
  margin: 8px 8px;
  padding: 8px 8px;
  background-color: rgb(229, 229, 229);
}

.delete-button {
  border: 1px solid rgb(133, 92, 121);
  border-radius: 8px;
  padding: 2px 4px;
  text-decoration: none;
  color: black;
  background-color: white;
}
